.cgt-desc{
  display:flex;
}
.cgt-desc ul{
   display: block;
    list-style-type: none;
    padding: 0;
}
.cgt-desc .tab li a{
  text-decoration:none;
  color:black;
}
.cgt-desc .tab li a.active{
	color:green;
}
