.background-img {
  margin: auto;
  max-width: 110rem;
  text-align: center;
  /* 1.5rem margin on left & right */
  width: calc(100% - 3rem);
  height:500px;
}

.background-img.background-img--full-width {
  max-width: initial;
  width: 100%;
}
.background-img-on img{
	max-width:100%;
}